.menu-home {
    list-style: none;
    padding-left: 0;
    padding: 0;
    margin: 0;
}

.menu-home li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.menu-home li a {
    color: #1498D5;
    font-weight: initial;
}

@media only screen and (max-width: 760px) {
    .menu-home li {
        display: block;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
}


.global-tab {
    display: flex;
    justify-content: center;
}

.button-back-home {
    position: fixed;
    background: black;
    color: white;
    z-index: 100;
}

.button-back-home a {
    padding: 20px;
    display: inline-block;
    font-weight: initial;
}

.button-pricing {
    text-align: right;
    position: fixed;
    background: #ED4C67;
    margin-bottom: 30px;
    color: white;
    bottom: 0;
    z-index: 100;
}

.button-pricing button {
    padding: 20px;
    display: inline-block;
    font-size: 16px;
    background: #ED4C67;
    color: white;
    text-align: right;
    cursor: pointer;
    border: none;
    font-weight: 200;
}

.button-pricing button:hover {
    text-decoration: underline;
}

.button-pricing button strong {
    font-weight: 500;
}

.emailify {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    text-align: center;
    margin: 10px 0px;
}

.selectify{
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    text-align: center;
    margin: 10px 0px;
}

.estimate-form input[type="submit"]:hover,
.estimate-form input[type="submit"]:focus {
  color: #FFF;
  background-color: #B9374D;
  border-color: #B9374D;
}

.estimate-form input[type="submit"] {
    margin-bottom: 10px;
    color: #FFF;
    background-color: #ED4C67;
    border-color: #ED4C67;
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
}

.estimate-form input[type="email"]:focus {
    border: 1px solid #33C3F0;
    outline: 0;
}

.estimate-form input[type="email"] {
    margin-bottom: 10px;
    height: 38px;
    padding: 6px 10px;
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}