.menu-home {
    list-style: none;
    padding-left: 0;
    padding: 0;
    margin: 0;
}

.menu-home li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.menu-home li a {
    color: #1498D5;
    font-weight: initial;
}

.button-back-home {
    position: fixed;
    background: black;
    margin-top: 30px;
    color: white;
    z-index: 100;
}

.button-back-home a {
    padding: 20px;
    display: inline-block;
    font-weight: initial;
}

.button-pricing {
    text-align: right;
    position: fixed;
    background: #ED4C67;
    margin-bottom: 30px;
    color: white;
    bottom: 0;
    z-index: 100;
}

.button-pricing a {
    padding: 20px;
    display: inline-block;
}

.button-pricing a strong {
    font-weight: bold;
}